# VSCode / JetBrains IDEs
.vscode/
.idea/
.code/

# Python
__pycache__
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/

# Virtual environments
.venv/
venv/
env/
ENV/

# Test / Coverage
.coverage
htmlcov/
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.cache/

# Ruff / Linters
.ruff_cache/
.mypy_cache/
.dmypy.json
.pyre/

# dotenv & secrets
.env
.env.*
!.env.example

# Docker
*.log
*.pid
*.db
docker-compose.override.yml

# Local files
locals/
*.sqlite3
*.log
*.tmp
*.bak

# OS stuff
.DS_Store
Thumbs.db

# Git
.gitignore